{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Labels' %}</h1>
<a class="nav-link" href="{% url 'labels:create' %}">{% translate 'Create label' %}</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>{% translate 'Name' %}</th>
    <th>{% translate 'Creation date' %}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for label in labels %}
  <tr>
    <td>{{ label.id }}</td>
    <td>{{ label.name }}</td>
    <td>{{ label.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    <td>
      <a href="{% url 'labels:update' pk=label.id %}">{% translate 'Change' %}</a>
      <br>
      <a href="{% url 'labels:delete' pk=label.id %}">{% translate 'Delete' %}</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}