{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Tasks' %}</h1>
<a class="nav-link" href="{% url 'tasks:create' %}">{% translate 'Create task' %}</a>
<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
      </div>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>{% translate 'Name' %}</th>
    <th>{% translate 'Status' %}</th>
    <th>{% translate 'Author' %}</th>
    <th>{% translate 'Executor' %}</th>
    <th>{% translate 'Creation date' %}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
    <td>{{ task.id }}</td>
    <td><a href="{% url 'tasks:detail' pk=task.id %}">{{ task.name }}</a></td>
    <td>{{ task.status }}</td>
    <td>{{ task.creator }}</td>
    <td>{{ task.executor }}</td>
    <td>{{ task.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    <td>
      <a href="{% url 'tasks:update' pk=task.id %}">{% translate 'Change' %}</a>
      <br>
      <a href="{% url 'tasks:delete' pk=task.id %}">{% translate 'Delete' %}</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}